*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing :border-box;
}

section.conrad
{
    height: 1000px;
    width: 100%;
    padding: 10px;
    background:url('../image/image.jpg');
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}
section div.container
{
    width: 85%;
    margin: auto;
    padding-top: 40px;
   
}
header div.logo
{
    width: 50%;
    font-size: 2em;
    font-weight: bold;
    float: left;
    
    text-transform: uppercase;
}
 header nav
{
    width: 50%;
    float: left;
    
    text-transform: uppercase;
    font-size: .6em;
    
    }
header nav ul li 
{
    list-style: none;
    padding-left: 20px;
    display:inline-block;
    letter-spacing: 1.5px;
}

header nav ul li a
{
    text-decoration: none;
    color: #fff;
}

div.clear
{
    clear: both;
}
section.conrad div.clear p:first-child
{
    padding-top: 20%;
    font-size : 3.5em;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-weight: bold;
}
section.conrad div.clear p:last-child:hover span
{
    transform: rotate(360deg);
    display: inline-block;
}
section.conrad div.clear p span 
{
    transition: all 1s ease-in-out;
}

/*section.about*/

section.about
{
    width: 100%;
    height: 470PX;
}
section.about div.container div.d1, div.d2, div.d3
{
    width: 33%;
    float: left;
    padding-left: 3%;
    margin: auto;
}
section.about div.container div.d1
{
    padding-left: 0;
}
section.about div.container div.d3
{
    padding-right: 0;
}
section.about div.image img
{
    width: 100%;
    
}

section.about div.d1 h1
{
    text-align: left;
    margin-bottom: 7%
}
section.about div.d1 p
{
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 6%;
    color: #444;
    font-family: sans-serif;
    letter-spacing: 1px;
}
section.about div.d1 p:nth-of-type(3) a
{
    
    text-decoration: none;
    color: #111;
    letter-spacing: normal;
}
section.about div.d1 p:nth-of-type(3):hover a
{
    font-weight: bold;
  
}
section.about div.d2 *,
section.about div.d3 *
{
    padding: 2%;
    color: #444;
}
section.about div.d2 h1,
section.about div.d3 h1
{
    font-size: .98em;
    text-align: left;
    color: #444;
    
}
section.about div.d2 p,
section.about div.d3 p
{
    font-size: .9em;
    color: #666;
}
section.about div.d2 img:hover,
section.about div.d3 img:hover
{
    transform: scale(1.2);
    
}

section.about div.image
{
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
}
.over
{
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}

/* section folio*/

section.folio
{
    width: 100%;
    height: 500px;
    background-image: url("../image/image3.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-content: center;
}

section.folio div.container h4
{
    text-align: center;
    color: white;
    text-transform: capitalize;
    padding: 40px 0 40px 0;
}
section.folio div.container p:nth-of-type(1)
{
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0 0 40px 0;
}
section.folio div.container p:nth-of-type(2)
{
    text-align: center;
    color: white;
    font-style: italic;
    text-transform: capitalize;
    padding: 0 0 40px 0;
}
section.folio div.goup
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color:black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
    display: none;
    
}

.h2
{
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    left: 8%;
    right: 8%;
   padding-top: 10px;
    z-index: 99999999;
    
    
}
section.solution
{
    height: 400px;
    padding: 70px 0 70px 0;
}

section.solution div.one
{
    width: 50%;
    float: left;
    padding-right:15px;
}
section.solution div.two
{
    width: 50%;
    float: left;
    padding-left:15px;
}
section.solution div.one h3
{
    font-size: 25px;
    font-family: candara;
    padding-bottom: 4%;
}
section.solution div.one p:nth-of-type(1)
{
    padding-bottom: 4%;
    color: #444;
}
section.solution div.one p:nth-of-type(2)
{
    padding-bottom: 4%;
    color: #888;
}
section.solution div.one p:nth-of-type(3)
{
    transition: all 0.5s ease-in-out;
   
}
section.solution div.one p  a 
{
    font-weight: bold;
    color: #000;
    text-decoration: none;
    
}
section.solution div.one p:last-child:hover span
{
    transform: rotate(360deg);
    display: inline-block;
}
section.solution div.one p span
{
    transition: all .5s ease-in-out;
}
section.solution div.two h3
{
    background-color: #000;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #fff;
}

section.solution div.two p 
{
  display: none;
  background-color: #999;
}

/* section study */

section.study
{
    width: 100%;
    height: 400px;
    background-color: #FC072C;
}
section.study div.first
{
    float: left;
    width: 50%;
    padding: 40px 30px 0 7.5%;
}
section.study div.first h3
{
    text-transform: capitalize;
    font-family: condara;
}
section.study div.first p 
{
    padding-top: 7%;
    transition: all .5s ease-in-out;
}
section.study div.first p:last-child:hover span 
{
    transform: rotate(360deg);
    display: inline-block;
}
section.study div.first p span
{
    transition: all .5s ease-in-out;
}
section.study div.second
{
    float: left;
    width: 50%;
    background: url('../image/image4.jpg');
    background-size: cover;
    height: 400px;
    align-items: center;
}
section.study div.second div.small
{
    width: 250px;
    height: 200px;
    color: #fff;
    margin: 100px auto;
}

section.study div.second div.small div.a 
{
    width: 50%;
    float: left;
}
section.study div.second div.small div.a div.aa
{
    
    font: 2em bold;
    text-align: center;
    padding: 7% 0 0 3%;

}
section.study div.second div.small div.a div.aa span
{
    font-size: 16px;
    display: block;
    padding-top: 7%;
}
section.study div.second div.small div.a div.ab
{
    
    font: 2em bold;
    text-align: center;
    padding: 7% 0 0 3%;

}
section.study div.second div.small div.a div.ab span
{
    font-size: 16px;
    display: block;
    padding-top: 7%;
}
section.study div.second div.small div.b
{
    width: 50%;
    float: left;
}
section.study div.second div.small div.b div.ba
{
    
    font: 2em bold;
    text-align: center;
    padding: 7% 0 0 3%;

}
section.study div.second div.small div.b div.ba span
{
    font-size: 16px;
    display: block;
    padding-top: 7%;
}
section.study div.second div.small div.b div.bb
{
    
    font: 2em bold;
    text-align: center;
    padding: 7% 0 0 3%;

}
section.study div.second div.small div.b div.bb span
{
    font-size: 16px;
    display: block;
    padding-top: 7%;
}